.movie-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.movie-card {
    background-color: #fff;
    width: 18%;
    margin: 0px 1% 30px 1%;

}

.movie-card .card-img-top {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-title {
    height: 3rem;
}

.card-title a {
    font-size: 16px;
    color: #5E875B;
    font-weight: bold;
}

.rating {
    color: #5E875B;
}

.rate-btn {
    margin-bottom: 15px;
    color: #fff;
    background-color: #69B983;
    border-color: #69B983;
    width: 100%;
}

.rate-btn:hover {
    color: #69B983;
    background-color: transparent;
    border: 2px solid #69B983;
}

.empty-list {
    text-align: center;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

