.bold {
    font-weight: bold;
}

.bg-color {
    background: aquamarine !important;
}

#main-container {
    background-color: #000;
    color: #fff;
    min-height: 65vh;
    padding: 40px;
}

.card-btn {
    color: #000;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    width: 100%;
}

.card-btn:hover {
    color: greenyellow;
    background-color: transparent;
    border: 2px solid greenyellow;
    width: 100%;
}